tmp/*
*.class
*.war
*.sqlite3
*.sqlite
log/*
.DS_Store
/doc/app/*
.*.swp
*~
public/javascripts/all.js
public/uploads/*
test/coverage/*
./devver/*
public/system/*
bin/*
db/*.sqlite3
db/*.sqlite
!vendor/gems/cache/
vendor/bundler_gems/*
!vendor/bundler_gems/cache/
*.swp
*.swo
.bundle
.#*
public/upload/*
